/* ---- GERAL : START  ---- */
::selection {
  background: #1979bc;
  color: #fff;
}
.c-custom {
  max-width: 986px;
}
.clear {
  clear: both;
}
/* ---- GERAL : CLOSE  ---- */
/* ---- NAVBAR : START ---- */
.wrapper-navbar {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 10px;
  z-index: 99;
}
.navbar {
  width: 100%;
  max-width: 986px;
  margin: 0 auto;
  background: -webkit-linear-gradient(top, #313132 0%, #0e0e0e 100%);
  background: -moz-linear-gradient(top, #313132 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(top, #313132 0%, #0e0e0e 100%);
  background: -o-linear-gradient(top, #313132 0%, #0e0e0e 100%);
  border-radius: 4px;
}
.logo {
  margin: 0;
  overflow: hidden;
  float: left;
}
.logo a {
  display: block;
}
.nav {
  float: right;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul li {
  display: inline-block;
  padding: 18px;
}
.nav ul li a {
  color: #cecece;
  position: relative;
}
.nav ul li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #fff001;
  position: absolute;
  bottom: -21px;
  opacity: 0;
}
.nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.nav ul li a:hover:after {
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  opacity: 1;
}
.nav-mob {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.nav-mob ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.nav-mob ul .li-mob {
  width: 100%;
  height: 100%;
}
#nav-toggle {
  cursor: pointer;
  padding: 20px 3px;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
  background: #1979bc;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* ---- NAVBAR : CLOSE ---- */
/* ---- HEADER : START ---- */
.wrapper-header {
  background: url(../img/bg-header.png) repeat;
  width: 100%;
  height: 523px;
}
.wrapper-header .bgslide {
  width: 100%;
  height: 100%;
  background: url(../img/bgslide.png) no-repeat center center;
}
.wrapper-header .slide {
  margin-top: 70px;
}
.wrapper-header .slide .carousel-control {
  width: 6%;
}
.wrapper-header .slide .carousel-control.left,
.wrapper-header .slide .carousel-control.right {
  background-image: none;
  z-index: 98;
}
.wrapper-header .slide .carousel-caption {
  left: 0;
  right: 0;
  padding-bottom: 0;
}
.wrapper-header .slide .carousel-caption .t-slide {
  text-align: left;
  color: #e4f2fd;
  text-shadow: 2px 2px #000000;
  font-family: helvetica, arial;
  font-size: 45px;
}
.wrapper-header .slide .carousel-caption .p-slide {
  text-align: left;
  color: #000000;
  font-family: helvetica, arial;
  font-size: 19px;
  font-weight: 200;
}
.wrapper-header .slide .carousel-caption .col-2 {
  position: absolute;
  bottom: -15px;
  right: -10px;
}
/* ---- HEADER : CLOSE ---- */
/* ---- SECTION1 : START ---- */
.wrapper-section {
  background: #000000;
  min-height: 650px;
}
#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
}
#loading span {
  display: block;
  width: 30px;
  margin: auto;
  position: relative;
  top: 50%;
}
.section1 {
  padding-top: 70px;
  padding-bottom: 50px;
}
.section1 .col-1,
.section1 .col-2 {
  padding: 0;
}
.section1 .col-1 h1,
.section1 .col-1 h4,
.section1 .col-1 p {
  color: #fff;
  font-family: helvetica, arial;
}
.section1 .col-1 header h1 {
  font-size: 17px;
  text-transform: uppercase;
}
.section1 .col-1 header h4 {
  font-size: 14px;
}
.section1 .col-1 figure {
  margin-bottom: 30px;
}
.section1 .col-1 figure:before {
  content: "";
  display: block;
  width: 85%;
  height: 3px;
  background: #1979bc;
  position: relative;
  top: 2px;
  left: -3px;
}
.section1 .col-1 figure:after {
  content: "";
  display: block;
  width: 6px;
  height: 40px;
  position: absolute;
  top: 85px;
  right: -2px;
  background: #1979bc;
}
.section1 .col-1 figure img {
  width: 100%;
  height: auto;
}
.section1 .col-1 figure .line-blue:after {
  content: "";
  display: block;
  width: 3px;
  height: 260px;
  position: absolute;
  top: 195px;
  right: -1px;
  background: #1979bc;
}
.section1 .col-1 figure figcaption {
  font-size: 10px;
  color: #fff;
}
.section1 .col-1 figure .entry-content {
  font-size: 15px;
}
.section1 .col-2 .navbar-ajax {
  padding-left: 125px;
  margin-top: 65px;
}
.section1 .col-2 .navbar-ajax ul {
  position: relative;
  padding-left: 20px;
}
.section1 .col-2 .navbar-ajax ul:before {
  content: "";
  display: block;
  width: 5px;
  height: 175px;
  background: #1979bc;
  position: absolute;
  top: -50px;
  left: 0;
}
.section1 .col-2 .navbar-ajax ul:after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: #1979bc;
  position: absolute;
  top: -15px;
  left: -15px;
}
.section1 .col-2 .navbar-ajax ul li {
  list-style: none;
}
.section1 .col-2 .navbar-ajax ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: helvetica, arial;
}
.section1 .col-2 .navbar-ajax ul li a:hover {
  text-decoration: none;
  color: #f4e602;
}
.section1 .col-2 .navbar-ajax ul li a.active {
  color: #f4e602;
}
.section1 .select {
  display: none;
  width: 100%;
}
.aside-sec1 {
  width: 85px;
  height: 250px;
  background: #1b2833;
  position: absolute;
  top: 100px;
  left: 20px;
  border: 1px solid #1979bc;
}
.aside-sec1 .social ul {
  padding: 10px 0;
  margin: 0;
}
.aside-sec1 .social ul li {
  list-style: none;
  padding-bottom: 10px;
}
.aside-sec1 .social ul li:nth-last-child(1):after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #1979bc;
  margin: auto;
  position: relative;
  top: 10px;
}
.aside-sec1 .social ul li img {
  display: block;
  margin: auto;
}
.aside-sec1 .social ul li a:hover img {
  opacity: 0.8;
}
.aside-sec1 .controls {
  margin-top: 7px;
}
.aside-sec1 .controls a {
  display: block;
}
.aside-sec1 .controls a:hover {
  text-decoration: none;
}
.aside-sec1 .controls .icone {
  width: 39px;
  height: 39px;
  background-image: url(../img/sprite-setas.png);
  display: block;
  margin: auto;
}
.aside-sec1 .controls .icone.next {
  background-position: 0 0;
}
.aside-sec1 .controls .icone.next:hover {
  background-position: 39px 0;
}
.aside-sec1 .controls .icone.prev {
  background-position: 39px -39px;
}
.aside-sec1 .controls .icone.prev:hover {
  background-position: 0px -39px;
}
.aside-sec1 .controls span {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1em;
}
.aside-sec1 .controls span:hover {
  color: #1979bc;
}
.aside-sec1 .controls span.t_span {
  margin: 10px 0;
}
/* ---- SECTION1 : CLOSE ---- */
/* ---- FOOTER : START ---- */
.wrapper-footer {
  background: url(../img/bg-footer.png) repeat;
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.footer .col-1 {
  margin-bottom: 70px;
}
.footer .col-1:before {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #1979bc;
  position: absolute;
  top: -10px;
  left: 100px;
}
.footer .col-1 h2 {
  margin: 0;
  font-size: 22px;
  color: #ddeaf5;
  text-align: center;
}
.footer .col-1 h2:before {
  content: "";
  display: block;
  width: 100px;
  height: 2.5px;
  background: #1979bc;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.footer .col-1 h2:after {
  content: "";
  display: block;
  width: 3px;
  height: 90px;
  background: #1979bc;
  position: absolute;
  top: 5px;
  right: 115px;
}
.footer .col-2,
.footer .col-3 {
  padding: 15px;
  overflow: hidden;
}
.footer .col-2 {
  background: url(../img/sombra-contato.png) no-repeat;
  background-position: right top;
}
.footer .col-2 h4 {
  color: #ddeaf5;
  font-size: 14px;
  font-family: helvetica, arial;
}
.footer .col-2 input {
  width: 90%;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 10px;
}
.footer .col-2 textarea {
  width: 90%;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 10px;
}
.footer .col-2 input[type=submit] {
  width: 85px;
  float: right;
  position: relative;
  right: 45px;
  background: #1979bc;
  color: #fff;
  border: 0;
}
.footer .col-2 input[type=submit]:hover {
  opacity: 0.8;
}
.footer .col-3 .wrapper-location {
  padding-left: 30px;
  color: #ddeaf5;
  font-family: helvetica, arial;
  margin-bottom: 30px;
}
.footer .col-3 .wrapper-location h4 {
  font-size: 18px;
}
.footer .col-3 .wrapper-location span {
  font-size: 16px;
}
/* ---- FOOTER : CLOSE ---- */
@media screen and (max-width: 986px) {
  /* ---- NAVBAR : START ---- */
  .wrapper-navbar {
    height: auto;
  }
  .navbar {
    width: 80%;
  }
  .logo {
    float: none;
    display: block;
    width: 300px;
    margin: auto;
  }
  .nav {
    float: none;
    width: 77%;
    min-width: 632px;
    margin: 0 auto;
  }
  .nav ul li {
    padding: 0 15px 10px;
  }
  .nav ul li a:after {
    height: 3px;
    bottom: -13px;
  }
  /* ---- NAVBAR : CLOSE ---- */
  /* ---- HEADER : START ---- */
  .wrapper-header {
    height: 430px;
  }
  .slide {
    margin-top: 70px;
  }
  .slide .carousel-caption .col-1 {
    padding-left: 50px;
  }
  .slide .carousel-caption .col-2 img {
    width: 80%;
  }
  /* ---- HEADER : CLOSE ---- */
  .section1 .col-1 figure:after {
    display: none;
  }
  .section1 .col-1 figure .line-blue {
    display: none;
  }
  /* ---- FOOTER : START ---- */
  .footer .col-1 {
    margin-bottom: 70px;
  }
  .footer .col-1:before {
    display: none;
  }
  .footer .col-1 h2:before {
    display: none;
  }
  .footer .col-1 h2:after {
    display: none;
  }
  .footer .col-3 {
    margin-top: 20px;
  }
  .footer .col-3 .wrapper-location {
    padding: 0;
    width: 50%;
    float: left;
  }
  .footer .col-3 .wrapper-location:nth-child(2) {
    text-align: right;
  }
  /* ---- FOOTER : CLOSE ---- */
}
@media screen and (max-width: 800px) {
  /* ---- NAVBAR : START ---- */
  .logo {
    float: left;
  }
  .nav-mob {
    display: block;
  }
  .nav {
    position: absolute;
    right: -1px;
    top: 57px;
    min-width: inherit;
    width: 255px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
  .nav ul li {
    display: block;
    padding: 0;
  }
  .nav ul li a {
    display: block;
    padding: 8px 20px;
  }
  .nav ul li a:after {
    width: 5px;
    height: 5px;
    bottom: initial;
    right: 10px;
    top: 15px;
    border-radius: 50%;
  }
  /* ---- NAVBAR : END ---- */
}
@media screen and (max-width: 768px) {
  /* ---- HEADER : START ---- */
  .navbar {
    width: 95%;
  }
  .wrapper-header {
    height: auto;
  }
  .slide {
    margin-top: 90px;
  }
  .slide .carousel-caption .col-1 {
    display: none;
  }
  .slide .carousel-caption .col-2 img {
    width: 65%;
  }
  /* ---- HEADER : CLOSE ---- */
  /* ---- SECTION1 : START ---- */
  .wrapper-section {
    min-height: 500px;
  }
  .section1 .select {
    display: block;
  }
  .section1 .col-2 {
    display: none;
  }
  /* ---- SECTION1 : END ---- */
  /* ---- FOOTER : START ---- */
  .footer .col-3 .wrapper-location {
    width: 100%;
    text-align: center;
  }
  .footer .col-3 .wrapper-location:nth-child(2) {
    text-align: center;
  }
  /* ---- FOOTER : CLOSE ---- */
}
@media screen and (max-width: 480px) {
  /* ---- HEADER : START ---- */
  .wrapper-header .bgslide {
    background: none;
  }
  .item .slidebg {
    opacity: 0;
  }
  /* ---- HEADER : CLOSE ---- */
}
